<% include /header %>
	<div id="container">
		<div id="conteudo">
			<div id="title">
				<span>Escolha uma das opções para logar</span>
			</div>
			<a href="/connect/google"><img src="/images/login_google.png" height="50" width="300"/></a></br></br>
		    <a href="/connect/facebook"><img src="/images/login_facebook.png" height="50" width="300"/></a></br></br>
		</div>
    </div>
<% include /footer %>