<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="div_container">
		<header>
			<h1>404</h1>
			<h4>O.o Esta página não existe!</h4>
		</header>
		<hr>
		<p>Volte para <a href="/">HOME</a></p>
	</div>
  </body>
</html>