<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="div_container">
		<header>
			<h4>O.o Algo de errado não esta certo!</h4>
		</header>
		<p>
			Veja os detalhes do erro:
			<br>
			<%- error.message %>
		</p>
		<hr>
		<p>Volte para <a href="/">HOME</a></p>
	</div>
  </body>
</html>